<h1>Editing Article</h1>

<%= render_form_partial(article) %>

<a href="<%= article_path(article) %>" style="margin-top: 1rem; display: inline-block;">Show this article</a>
<a href="<%= articles_path %>" style="margin-top: 1rem; display: inline-block; margin-left: 1rem;">Back to articles</a>
